*{
    margin:0;
    padding:0;
    }
    
html,body{
    height:100%;
    overflow:scroll;
 
    }

body{
    background-image:url(images/2nd.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    overflow:scroll; 
    background-position: center;
    
  
} 

.container{
    display: flex;
    align-items: center;
    text-decoration: none;
    clear:both;
    font-size:20px;
    position:relative;
    background-color:rgb(102,3,35);
    padding:0px;
    margin-top: 30px;
    margin-bottom: 20px;
    color:whitesmoke;
    font-family: 'Poiret One', cursive;
    height:80px;
    width:100%;  
}

.nm{
    margin-left:30px;
}

a{
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    color: whitesmoke; 
    justify-content: space-between;
}

a:hover{
    background-color: grey;
}

.r{
    margin-left: auto;
}




main{
    text-align: center;
    color:white;
    background-color:rgb(102,3,35,0.9);
    margin-top: 100px;
    margin-left:25%; 
    width:50%;
    font-family: 'Poiret One', cursive;
    height:300px;
    align-items:center;
    
}
    

#footer{
    background-color:#000;
    position:absolute;
    height:100px;
    margin-top:-200px;
    clear:both;
    bottom:0;
    width:100%;
    font-family: 'Poiret One', cursive;
    }
    
.footer-menu{
      float:left;
      text-align:center;
    }
